.field {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 14px 20px;

  &__input {
    width: 100%;

    &::placeholder {
      line-height: 21px;
      color: #868686;
      font: {
        family: "PT Sans", sans-serif;
        style: normal;
        weight: 400;
        size: 16px;
      }
    }
  }
}
