.hotels-page {
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    height: 100%;
  }

  &__price {
    width: 100%;

    &-content {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-line {
      display: inline-block;
      width: 10px;
      height: 1px;
      background-color: #c4c4c4;
    }
  }

  &__left-block {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 325px;
    width: 100%;
  }

  &__content {
    width: 100%;
    max-width: 835px;
  }

  &__search {
    display: block;
  }

  &__filter {
    &-country {
      display: block;
      height: 325px;
      width: 100%;
    }

    &-type {
      display: block;
      height: auto;
      width: 100%;
    }

    &-rating {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__hotels {
    width: 100%;
    overflow-y: auto;
    padding: 0 15px 0 5px;
    flex: 2 1;
  }

  &__pagin {
    display: block;
    margin: 40px 0 100px 0;
  }
}
