.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
  line-height: 18px;
  padding: 10px 30px 12px 30px;
  user-select: none;
  font: {
    family: "PT Sans", sans-serif;
    style: normal;
    weight: 400;
    size: 14px;
  }

  &:hover {
    transform: scale(105%);
  }

  &--ready {
    background-color: rgb(0, 249, 145, 0.1);
    color: #00bb6d;
  }

  &--default {
    background-color: rgb(106, 83, 245, 0.1);
    color: #6a53f5;
  }

  &--clear {
    background-color: #ffffff;
    color: #6a53f5;
  }
}
