.rating {
  display: flex;
  align-items: center;
  gap: 6px;

  &__star {
    width: 14px;
    height: 14px;

    & svg {
      fill: #d7d7d7;
    }

    &--active svg {
      fill: #ffa900;
    }
  }
}
